<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
#hiddendiv{
    color: rgb(255, 255, 255);
    margin-top: 10%; 
    margin-left: 5%; 
    margin-right: 12%;
     background-color: #191c24;
     padding: 10px;
     max-width: 85%;
}
</style>
<body>
    <div style="border: white;"><label id="myprofile" style="color: white; margin-left: 4%; font-size: large;">REQUESTED LEAVE</label></div>
    <div class="row" >
        <div  class="col-md-10 w-90  shadow" id="hiddendiv" style="border: 0px solid; border-radius: 20px; ">
                
                    <div id="box2" class="shadow " style="background-color: #191c24;">
                            <div class="row">
                            <tr>
                                <div class="col-md-3">
                              <h3 >Requested leave from</h3>
                            </div>
                            <div class="col-md-3">
                                <h3 >Feb.2,2022</h3>
                              </div>
                              <div class="col-md-3">
                                <h3 >Feb.2,2022</h3>
                              </div>
                              <div class="col-md-3">
                                <h3 >Status</h3>
                              </div>
                            </tr>
                        </div>
                          
                    <!-- <h5>Requested leave from </h5>
                    <h5 style="width: 130px">Feb.2,2022</h5>
                    <h5 style="width: 130px">Feb.2,2022</h5>
                    <h5 >STATUS</h5>
                    <h5 style="width: 80px;color: blue"><span>{{ leavereq.status }}</span></h5> -->
                    </div>
               
                </div>
            
        </div>
    
</body>
{% endblock %}
</html>